@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
h1 {
  font-size: 24px;
}

* {
  margin: 0;
  padding: 0;
}

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #58555E;
}

main {
  display: grid;
  grid-template-columns: 64px 1fr;
  grid-template-rows: 1fr 50px;
  height: 100%;
}

h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  width: 100%;
  background-color: #202529;
  box-shadow: 0 1px 0 rgba(22, 8, 43, 0.1);
  z-index: 100;
  height: 80px;
}

.headerContainer {
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: space-between;
}

.headerImg {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.headerLogo {
  color: #19181B;
  font-weight: 500;
  display: none;
}

.headerSearch {
  display: flex;
  padding: 4px 8px;
  background-color: #F4F0FA;
  border-radius: 4px;
}

.headerInput {
  width: 100%;
  border: none;
  outline: none;
  background-color: #F4F0FA;
}

.headerInput::placeholder {
  font-family: "Poppins", sans-serif;
  color: #58555E;
}

.headerIcon, .headerToggle {
  font-size: 24px;
}

.headerToggle {
  color: #19181B;
  cursor: pointer;
}

nav {
  grid-column: 1/2;
  position: fixed;
  top: 0;
  left: 0;
  /*    left: -100%;*/
  height: 100vh;
  width: 64px;
  background-color: #202529;
  z-index: 0;
  transition: 0.4s;
}

.mainSection {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex: 1 1 auto;
  padding: 12px;
  padding-top: 0;
}

footer {
  grid-column: 2/3;
  grid-row: 2/3;
}

.navContainer::-webkit-scrollbar {
  display: none;
}

.navContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 8px;
  padding-top: 0;
  overflow: auto;
  scrollbar-width: none;
}

header .navLogo {
  opacity: 1;
  z-index: 10000;
}

nav .navLogo {
  opacity: 0;
  height: 80px;
}

.navLogo {
  font-weight: 600;
  height: 80px;
}
.navLogo i {
  margin-right: 8px;
}

.navList, .navItems {
  display: grid;
}

.navList {
  row-gap: 16px;
}

.navItems {
  row-gap: 14px;
}

.navSubtitle {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: rgba(255, 255, 255, 0.5);
}

.navLink {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
}
.navLink i {
  width: 48px;
  text-align: center;
  margin-right: 0;
}

.navLink:hover {
  color: #1BC6B4;
}

.navIcon {
  margin-right: 8px;
}

.navName {
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 0;
}

.navLogout {
  margin-top: 24px;
}

.navDropdown {
  overflow: hidden;
  max-height: 21px;
  transition: 0.4s ease-in;
}

.navDropdownCollapse {
  background-color: #F4F0FA;
  border-radius: 4px;
  margin-top: 12px;
}

.navDropdownContent {
  display: grid;
  row-gap: 6px;
  padding: 8px 16px 8px 12px;
}

.navDropdownItem {
  font-size: 12px;
  font-weight: 500;
  color: #58555E;
}

.navDropdownItem:hover {
  color: #1BC6B4;
}

.navDropdownIcon {
  margin-left: auto;
  transition: 0.4s;
}

.navDropdown:hover {
  max-height: 500px;
}

.navDropdown:hover .navDropdownIcon {
  transform: rotate(180deg);
}

.showMenu {
  left: 0;
}

.active {
  color: #1BC6B4;
}

@media screen and (min-width: 768px) {
  main {
    grid-template-columns: 200px 1fr;
  }

  header .navLogo {
    opacity: 0;
  }

  /*    header {
      padding: 0 0 0 $compactWidth;
  }*/
  .headerSearch {
    width: 300px;
    padding: 7px 10px;
  }

  .headerToggle {
    display: none;
  }

  .headerLogo {
    display: block;
  }

  .headerImg {
    width: 40px;
    height: 40px;
    order: 1;
  }

  nav {
    width: 200px;
    margin-top: 0;
  }

  .navItems {
    row-gap: 18px;
  }

  .navIcon {
    font-size: 15px;
  }

  .navName {
    opacity: 1;
  }

  nav .navLogo {
    opacity: 1;
  }

  .navLink i {
    width: 20px;
    font-size: 18px;
    margin-right: 4px;
  }

  .navList .navLink {
    /*padding: 12px;*/
  }
}
html, body {
  height: 100%;
}
